<div class="container flex-std">
    <div class="left flex-std">
        <div class="main-title">{{pageTitle}}</div>
        <span [ngStyle]="{'color':'#aaa', 'font-size':'16px'}" class="material-icons-round">chevron_right</span>
        <div class="minor-title">Add User</div>
    </div>
    <div class="right flex-std">
        <div class="notify-icons flex-std">
            <span [ngStyle]="{'color':'#F58220', 'font-size':'18px'}" class="material-icons-round">forum</span>
            <span [ngStyle]="{'color':'#F58220', 'font-size':'18px'}" class="material-icons-round">notifications</span>
        </div>
        <div class="identity flex-std">
            <span [ngStyle]="{'color':'#F58220', 'font-size':'30px'}" class="material-icons-round">motion_photos_on</span>
            <!-- <span class="name">Admin</span> -->
            <span [ngStyle]="{'color':'#aaa', 'font-size':'16px'}" class="material-icons-round">keyboard_arrow_down</span>
        </div>
    </div>
</div>
