@import "../../../assets/css/color.scss";
@import "../../../assets/css/fonts.scss";
@import "../../../assets/css/global.scss";

.main-hdr {

    padding: 3vh 5% 0;

    .project {

        .name {
            font-size: 1.2rem;
            font-family: 'SGB';
            letter-spacing: 0.3px;
            margin-bottom: 1vh;
        }

        .progress {
            width: 150px;

            span {
                font-size: 14px;
                font-family: 'SGM';
                color: $light-icon;
                margin-right: 15px;
            }
        }
    }

    .actions {
        margin-left: auto;
        gap: 20px;

        .invite {
            padding: 1vh 20px;
            border: 1px dashed $light-icon;
            border-radius: 10px;
            gap: 10px;

            .text {
                font-size: 15px;
                font-family: 'SGB';
                color: $light-icon;
            }
        }

        .multiple {
            width: auto;
            height: 5vh;
            margin-left: auto;

            .img-hld {
                width: 80px;
                position: relative;

                img {
                    width: auto;
                    height: 5vh;
                    position: absolute;
                    top: 0;
    
                    &:nth-child(1) {
                        left: 0;
                    }
                    &:nth-child(2) {
                        left: 20%;
                    }
                    &:nth-child(3) {
                        left: 40%;
                    }
                    &:nth-child(4) {
                        left: 60%;
                    }
                }
            }

            
        }
    }
}

.task-container {
    height: auto;
    margin-top: 4vh;
    padding: 2vh 5%;
    position: relative;

    .search {
        position: absolute;
        left: 83%;
        top: 3.7%;
    }

    .rsc-wrap {
        width: 12%;
        position: absolute;
        left: 4.7%;
        bottom: 4.4vh;
        z-index: 2;

        .rsc-hld {
            width: 100%;
            padding: 0.5vh 10px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;

            &:nth-child(n+2) {
                margin-top: 10.5px;
            }
    
            .col {
    
                &:nth-child(1) {
                    gap: 10px;
                }
    
                &:nth-child(2) {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                }
    
                .image {
                    width: auto;
                    height: 3vh;
    
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
    
                .details {
                    height: auto;
    
                    .name {
                        font-size: 9px;
                        font-family: 'SGM';
                        letter-spacing: 0.1px;
                        line-height: 1;
                    }
    
                    .role {
                        font-size: 6px;
                        font-family: 'SGR';
                        line-height: 1.4;
                        letter-spacing: 0.4px;
                        color: $light-icon;
                    }
                }
            }
        }
    }

    
}


.mat-progress-bar {
    border-radius: 8px !important;
}

